* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  .navbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
  }
  
  .menu a:hover {
    color: goldenrod;
  }

  .logo img {
    width: 40%;
   
  }
  
  .navbar-social-icons  {
    display: flex;
    padding-right: 100px;
    align-items: center;
  }
  
  .social-icon {
    margin-left: 10px;
  }
  
  /* Adjust the styles for social media icons as needed */
  .social-icon img {
    height: 20px;
  }

 #sale {
    background-image: url(img/bg1.jpeg);
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .sh h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 42px;
    padding-top: 25px;
 }

 .sm {
    display: flex;
    justify-content: space-between;
    padding-left: 175px;
    padding-top: 85px;
   
 }
.sp {
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.sp img {
  
    height: auto;
}

.sp img:hover {
    transform: scale(1.1); /* Adjust the scale factor to control the zoom level */
  }

 .sp h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
 }

 .sp p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
 }

 .luxury {
    margin-top: 110px;
    margin-left: 115px;
 }

 .lm {
    display: grid;
    grid-template-columns: auto auto;
   
 }
.lh { 
    padding-left: 115px;
}
 .lh h6 {
    background-color: purple;
    width: 75px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;


 }

 .lh h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    color: black;
 }

 .lh h3 del {
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    padding-right: 15px;
 }

 .lh h3 {
    color: black;
    font-size: 26px;
 }

 .lh p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 70%;
    padding-top: 15px;
    color: gray;
 }

 .lh button {
    width: 200px;
    height: 70px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(134, 134, 239);
    color: white;
 }

 .lh h4 {
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
 }

 .lh h4 strong {
    font-family: 'Open Sans', sans-serif;
    color: gray;
 }

 .goal {
     background-image: url(img/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(80%); */
    margin-top: 50px;
    height: 400px;
 }

 .gm {
    text-align: center;
    padding-left: 115px;
 }

 .gm h2 {
    font-family: 'Open Sans', sans-serif;
    color: white;

    font-size: 42px;
    padding-top: 25px;
 }

 .gm p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 80%;
    padding-top: 35px;
    color: white;
 }
 
 .gm i {
    padding-right: 15px;
 }

 .gm button {
    width: 200px;
    height: 70px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: white;
    color: black;
    margin-right: 300px;
 }

 .gm button:hover {
    background-color: black;
    color: white;
 }

 .ins {
    padding-top: 100px;
    padding-left: 125px;
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 120px;
 }

 #inspiration p{
    padding-left: 125px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 80%;
    padding-top: 35px;
    color: gray;
    padding-top: 65px;

 }

 #inspiration i {
    color: blue;
    padding-right: 12px;
 }

 #inspiration h6{
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding-left: 353px;
    font-size: 22px;
    
 }

 #new {
    background-image: url(img/bg1.jpeg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
 }

 .np h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 42px;
    padding-top: 25px;
 }

 .sm {
    display: flex;
    justify-content: space-between;
    padding-left: 175px;
    padding-top: 85px;
   
 }
.sp {
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.sp img {
  
    height: auto;
}

.sp img:hover {
    transform: scale(1.1); /* Adjust the scale factor to control the zoom level */
  }

 .sp h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
 }

 .sp p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
 }
#shop {
    margin-top: 115px;
}
 .shopmain{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 115px;
 }

 .shoph h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: black;
 }

 .shoph p {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    padding-top: 25px;
    color: black;

 }

 .shoph a{
    text-decoration: none;
    color: black;
 }

 .shoph i {
    padding-right: 15px;
 }

 .sf input {
    width: 350px;
    height: 50px;
    margin: 25px;
    padding: 15px;
    
 }

 .sf button {
    width: 200px;
    height: 70px;
    margin-top: 15px;
    margin-left: 150px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgb(134, 134, 239);
    color: white;
 }

 .sf button:hover {
    background-color: black;
    color: white;
 }


 footer {
    background-color: black;
    color: white;
    height: 500px;
    margin-top: 150px;
}

.fmain {
    padding-left: 115px;
    padding-right: 115px;
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
}

.fmain h3{
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: white;
    text-align: center;
}

.fmain a,.fmain p {
    color: gray;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.fmain p {
    text-align: center;
    padding-top: 15px;
}

.fmain a:hover {
    color: red;

}

.fp{
    color: gray;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.cs a {
    padding-top: 15px;
}